body, html {
  width: 100%; height: 100%;
  margin: 0;
  background: black;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-family: 'Cousine', monospace;
}

#title {
  position: fixed;
  color: yellow;
  font-size: 64px;
  z-index: 30;
  margin-left: 30px;
  margin-bottom: 30px;
}

#displayarea {
  position: relative;
  background: grey;
  width: 900px;
  height: 700px;
  opacity: 1;
  top: 50px;
  left: 50px;
  overflow: hidden;
}

#mask {
  position: absolute;
  background: transparent;
  width: 1550px;
  height: 1550px;
  border: 525px solid black;
  top: -500px;   /*  25 - 375  */
  left: -500px;  /*add back in the offset 25 you want to minus the bordersize*/
}

#q {
  position: absolute;
  background: blue;
  height: 75px;
  width: 500px;
  top: 525px;
  left: 25px;

}

#q p {
  line-height: 32px;
  text-align: center;
  color: yellow;
  /*signature: "#q/p>" ;*/
}

#locator {
  position: absolute;
  background: transparent;
  height: 50px;
  width: 150px;
  top: 0px;
  right: 0px;

}

#locator p {
  line-height: 32px;
  text-align: center;
  color: darkgreen;
}


#whoffset {
  position: absolute;
  /*position should be scripted by imagesize of world*/
}

.worldhandle {
  /* top, left, height, width set in js */
  position: absolute;
  background-color: purple;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* fills needed */
.trans {
  transition: top 1s, left 1s;
  transition-timing-function: linear;
}

.worldsquare {
  /* height, width set in js */
  background: url("images/land750sillouette.png");
  background-size: cover;
}

.tokenmap {
  position: absolute;
  width: 750px;
  height: 750px;  /*  mapSize-*/
  opacity: 1;
  background-color: rgba(220,220,10,0.2);
  background-size: cover;
  /* border: solid 2px white; */
}

#panel {
  position: absolute;
  background: #333;
  width: 250px;
  height: 500px;
  top: 25px;
  right: 25px;
  /*in this case a 5 by 10 set of 50x50 divs item class*/
}

#items {
  position: absolute;
  display: table;
  border: 1px solid orange;
  background: #333;
  width: 248px;
  height: 248px;

}

.token {
  /*position: absolute;*/
  position: absolute;
  background-color: white;
  border: 2px solid orange;
  height: 50px;
  width: 50px;
}

#powers {
  position: absolute;
  display: table;
  border: 1px solid cyan;
  background: #333;
  width: 248px;
  height: 248px;
  top: 250px;
}

.power {
  position: absolute;
  background: white;
  border: 2px solid cyan;
  height: 50px;
  width: 50px;
}

.waterpower {
  position: absolute;
  background: url("images/waterpower50x50.png");
  border: 2px solid cyan;
  height: 50px;
  width: 50px;
}

.goal {
  position: absolute;
  background: url("images/goal50x50.png");
  border: 2px solid yellow;
  height: 50px;
  width: 50px;

}

#atmosphere {
  position: absolute;
  background-blend-mode: color-burn;
  background-color: rgba(110,20,110,0.7);
  width: 100%;
  height: 100%;
  background-size: cover;
}

#avatarhandle {
  position: absolute;
  background-color: transparent;
  border-left: solid 1px blue;
  border-top: solid 1px blue;
  width: 7px;
  height: 7px;
  /* transition: top 1s, left 1s; */
}
#avatarshadow {
  position: absolute;
  background: url("images/shipShadow50x50.png");
  background-size: cover;
  width:  50px;
  height: 50px;
  right:  -20px;
  bottom: -10px;
}
#avatar {
  position: absolute;
  background: url("images/shipToken50x100.png");
  background-size: cover;
  width:  50px;
  height: 70px;
  right:  -15px;
  bottom: 0px;
  opacity: .8;
}

@keyframes wobble {
  0% {bottom: 0px;}
  50% {bottom: 6px;}
  100% {bottom: 0px;}
}

.wobble {
  animation: wobble 1s infinite;
}

.shadow {
  opacity: 0.4;
  background-blend-mode: multiply;
}

