body, html {
  width: 100%; height: 100%;
  margin: 0;
  background: black;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#displayarea {
  position: relative;
  background: grey;
  width: 900px;
  height: 700px;
  opacity: 0.8;
  top: 75px;
  left: 50px;
}

#mask {
  position: absolute;
  background: transparent;
  width: 500px;
  height: 500px;
  border: 525px solid black;
  top: -500px;   /*  25 - 375  */
  left: -500px;  /*add back in the offset 25 you want to minus the bordersize*/
}

#qcom {
  position: absolute;
  background: blue;
  height: 75px;
  width: 500px;
  top: 525px;
  left: 25px;

}

#qcom p {
  line-height: 40px;
  color: yellow;
}

#panel {
  position: absolute;
  display: table;
  border: 1px solid orange;
  background: #333;
  width: 248px;
  height: 498px;
  top: 25px;
  right: 25px;
  /*in this case a 5 by 10 set of 50x50 divs item class*/
}

.item {
  /*position: absolute;*/
  display: inline-block;
  border: 2px solid orange;
  height: 46px;
  width: 46px;
}

#whoffset {
  position: absolute;
  /*position should be scripted by imagesize of world*/
  top: -225px;
  left: -225px;
}

#worldhandle {
  position: absolute;
  background-color: white;
  border-left: solid 1px red;
  border-top: solid 1px red;
  width: 7px;
  height: 7px;
}

#world {
  position: absolute;
  background: url("images/land500x2.png");
  width: 1000px;
  height: 1000px;
  background-size: cover;
}

#itemmap {
  opacity: 0.5;
  background-color: rgba();
  background-size: cover;
  position: absolute;
  border: solid 2px white;
  width: 1000px;
  height: 1000px;
  top: -1;
  left: -1;
  /*should be associated with an array of planetmapsize*2/blocksize*/
}

#atmosphere {
  position: absolute;
  background-blend-mode: color-burn;
  background-color: rgba(110,20,20,0.7);
  width: 1000px;
  height: 1000px;
  background-size: cover;
}

#avhoffset {
  /*  should be based on worldsize  */
  /*  so that the shadow falls one block south of the center of the planetmap*/
  /*  is that really necessary to do rotations and whatnot?  */
  position: absolute;
  /*should be dynamic with imagesize of world*/
  top: 400px;
  left: 275px;
}

#avatarhandle {
  position: absolute;
  background-color: transparent;
  border-left: solid 1px blue;
  border-top: solid 1px blue;
  width: 7px;
  height: 7px;
  transition: top 1s, left 1s;
}
#avatarshadow {
  position: absolute;
  background: url("images/shipShadow50x50.png");
  background-size: cover;
  width:  50px;
  height: 50px;
  right:  -20px;
  bottom: -10px;
}
#avatar {
  position: absolute;
  background: url("images/shipToken50x100.png");
  background-size: cover;
  width:  50px;
  height: 100px;
  right:  -15px;
  bottom: 0px;
  opacity: .8;
}

.trans {
/*  transition-timing-function: linear;
  transition: top 1s, left 1s;*/
  /*worldhandle */
}

.shadow {
  opacity: 0.4;
  background-blend-mode: multiply;
}
