body, html {
  width: 100%; height: 100%;
  margin: 0;
  background: black;
  background-size: cover;
  background-position: center;
  image-rendering:optimizeSpeed;
  image-rendering:-moz-crisp-edges;
  image-rendering:-o-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  image-rendering:crisp-edges;
  -ms-interpolation-mode:bicubic;
  overflow: hidden;
  transition-timing-function: ease-out;
}

#viewscreen {
  position: static;
  width: 2500px;
  height: 2500px;
  background: transparent;
  border: 100px solid black;
  opacity: 0.5;
  margin: 0 auto;

}

#worldhandle {
  position: absolute;
  color: white;
  border-left: solid 1px red;
  border-top: solid 1px red;
  width: 7px;
  height: 7px;
  top: 700;
  left: 400;
  transition: top 2s, left 2s;

}


#world {
  position: absolute;
  background: url("images/land80x80.png");
  background-size: cover;
  width: 800px;
  height: 800px;
}

#itemmap {
  position: absolute;
}

#atmosphere {
  position: absolute;
  background-blend-mode: color-burn;
  background-color: rgba(110,20,20,0.7);
  width: 800px;
  height: 800px;
  background-size: cover;
  margin: 0 auto;
  /*top: 0px;
  left: 0px;*/
}
#avatarhandle {
  position: absolute;
  color: white;
  width: 6px;
  height: 6px;
  border-left: solid 1px blue;
  border-top: solid 1px blue;
  width: 7px;
  height: 7px;
  top: 700;
  left: 400;
  transition: top 2s, left 2s;
}
#avatar {
  position: absolute;
  background: url("images/ship16x16_3.png");
  background-size: cover;
  background-blend-mode: multiply;
  width:  160px;
  height: 160px;

  right:  -80px;
  bottom: -50px;

  opacity: .7;
}
